body {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgb(198, 237, 255) 0%,
    rgb(253, 220, 155) 74.6%
  );
}
.card {
  display: block;
  margin: 100px auto;
  padding: 30px 40px 20px 40px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 20%) 0 5px 5px 0;
  background: #005689;
  max-width: 500px;
}
