ul {
    display: block;
    margin: 0 60px;
    padding: 0;
   
  }
  li {
    padding: 10px 0;
    font-family: "M PLUS 1p", sans-serif;
    color: #ffab5d;
    font-size: 15px;
    list-style: none;
    text-align: center;
  }
  
  