ul {
    display: block;
    margin: 0 60px;
    padding: 0;
   
  }
  li {
    position: relative;
    left: 75px;
    padding: 10px 0;
    font-family: "M PLUS 1p", sans-serif;
    color: #ffab5d;
    font-size: 15px;
    list-style: none;
   margin-bottom: -10px;
  }

  .max-min{
    position: relative;
    left: 150px;
    bottom: 32px;
  }

  .Weather-Icon canvas{
    margin-right: 10px;
    margin-bottom: -15px;
  }
  
  