.search {
    text-align: center;
    font-family: "M PLUS 1p", sans-serif;
  }
  .cityName {
    box-shadow: rgb(0 0 0 / 20%) 0 3px 3px 0;
    border: none;
    border-radius: 15px;
  }
  .button {
    font-size: 13px;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 3px 0;
    background-color: #007cb9;
    color: #d5eeff;
    border: none;
    border-radius: 15px;
  }
  .button:hover {
    color: #d5eeff;
    background-color: #2da3d6;
  }
  .current-location-icon {
    font-size: 25px;
    color: #007cb9;
    position: relative;
    top: 5px;
  }
  .current-location-icon:hover {
    color: #2da3d6;
  }
  