h3 {
    font-size: 12px;
    text-align: center;
    font-family: "M PLUS 1p", sans-serif;
    color: #007cb9;
  }
  .fahrenheit {
    text-decoration: none;
    color: #007cb9;
  }
  .fahrenheit:hover {
    color: #2da3d6;
  }
  .switch:hover {
    color: #2da3d6;
  }
  