.search {
  text-align: center;
  font-family: "M PLUS 1p", sans-serif;
}
.cityName {
  box-shadow: rgb(0 0 0 / 20%) 0 3px 3px 0;
  border: none;
  border-radius: 15px;
  margin-bottom: 30px;
}
.button {
  font-size: 13px;
  box-shadow: rgb(0 0 0 / 20%) 0 3px 3px 0;
  background-color: #007cb9;
  color: #d5eeff;
  border: none;
  border-radius: 15px;
}
.button:hover {
  color: #d5eeff;
  background-color: #2da3d6;
}
h1 {
    font-size: 40px;
    display: inline;
    padding: 20px auto;
    font-family: "Yantramanav", sans-serif;
    color: #d5eeff;
  }
  .temperature-today {
    font-size: 13px;
    padding: 0;
    font-family: "M PLUS 1p", sans-serif;
    color: #ffab5d;
  }
  .precipitation-today {
    font-size: 12px;
    position: relative;
    right: -20px;
    font-family: "M PLUS 1p", sans-serif;
    color: #ffab5d;
  }
  h2 {
    font-size: 50px;
    position: relative;
    left: 20px;
    font-family: "Yantramanav", sans-serif;
    padding: 0;
    color: #d5eeff;
  }
  .degree {
    font-size: 16px;
    position: relative;
    top: -24px;
    left: -1px;
    text-decoration: none;
    color: #d5eeff;
  }
  h2.temperature-now {
    display: block;
    margin: 0 0 0 30px;
  }
  